body {
  margin: 0px;
  padding: 16px  0px;
  background-color: #725a1f1f;
}
@font-face {
  font-family: roboto;
  src: url(assets/fonts/Roboto-Medium.woff);
}
@font-face {
    font-family: robold;
    src: url(assets/fonts/Roboto-Bold.woff);
  }

* {
  font-family: "roboto";
  box-sizing: border-box;
}
.selecti{
  font-weight: bold;
}
.wall{
    font-size: calc(1.2vw + 14px);
    color: rgb(15, 15, 15);
}



.cont-principal {
    color: #1f1f1f;
    /* background-color: #fdfdfd00; */
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /* background: linear-gradient(
        0deg, rgb(84 84 84) 58%, rgba(255,255,255,0) 64%); */
       /*  background: linear-gradient(
        0deg, rgb(231 231 231) 54%, rgb(0 0 0 / 0%) 64%); */
}
.col1 {
    margin-left: 1%;
    color: black;
    width: calc(33% );
    background-color: #d6d6d6;
    border: 2px solid #00bfad;
}
.col2 {
    margin-right: 15;
  width: calc(65% );
 /*  background-color: #f5f5b6; */
}
.head-perfil {
  padding: 5%;
  padding-top: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}
.cont-navegacion{
    min-height: 46vh;
    display: flex;
    align-items: center;
    /* background-image: url("assets/gifs/inicio/simetric.gif"); */
    background-repeat: no-repeat;
    background-position: center;
    /* opacity:0.2  !important; */
}
a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}

.cont-head{
    background-color: #ededed;
    min-height: 54vh;
    box-shadow: inset 0px 0px 12px #0000003d;
}
.head-perfil-info {
  margin-top: 1.2rem;
  text-align: center;
}
.head-perfil-info p {
  margin: 4px;
}
.info {
    border: 2px solid #8e7d77;
    border-radius: 40px;
    margin: 2rem 5%;
    padding: 16px 4% 0 6%;
    background-color: #d6d6d6;
    overflow-y: auto;
}
.pestanas {
    padding: 0% 10%;
    background-color: #ececec;
    position: sticky;
    top: 0px;
    border-radius: 00px 100px 100px 0px;
    border: 1px solid #d6d6d6;
    width: 0%;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
    transition:  3000ms;
}
.pestanas-all {
    transition: 500ms;
    opacity: 1;
}

.pestanas ul {
    list-style: none;
    padding: 0%;
    margin: 0px;
    height: 7vh;
    display: flex;
    align-items: center;
}
.pestanas ul li {
  float: left;
  margin: 0px 12px;
  cursor: pointer;
  color: white;
}
.pestanas ul li a{
    color: #e91e63;
    text-decoration: none;
}

.img-perfil {
  width: 48%;
  border-radius: 100%;
  box-shadow: 4px 3px 14px #959595;
}

.pad {
  padding: 2rem 10%;
}
.pad4 {
  padding: 8rem 10% 0 10%;
}

.acercade {
    letter-spacing: 2px;
    line-height: 24px;
    padding: 1% 10% 0%;
    font-size:calc(0.6vw + 8px);
    text-align: center;

}

.border {
  border: 1px solid b;
}
.skills {
  padding: 8rem 10% 0  10%;
}

/* type wtiter */
pre{
    
   /*  font-size: calc( 1.0vw + 10px + -0.5vh); */
    font-family: monospace;
    font-weight: bolder;
    /* line-height:0.8; */
}
#tagline{
    /* color: rgb(221, 221, 221); */
    font-weight: 100;
    
}
#pow-txt{
    display: none;
    font-weight:100;
    color: #c03b3b !important; 
    
}

.titulo{
    color: rgb(94, 255, 0);
    font-size: calc( 0.8vw + 18px );
}
.cursor{
    color: #161616;
    font-size: 22px;
}
.center{
    display: flex;
    justify-content: center;
}

.cont-portf{
    padding: 8rem 6% 73px 6%;
    overflow: visible !important;
}
.tarjetasM {
    background-color: #e9e3e3;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    height: 420px;
    overflow: hidden;
    transition: 800ms;
}
.tarjetasM:hover {
    background-color: #d4d4d4;
    height: 423px;
    transition: 800ms;
}
.imgM{
    max-width: 100%;
    object-fit: cover;
    height: inherit !important;
    width: -webkit-fill-available;
}
.cont-img {
    height: 200px;
    overflow: hidden;
}

/*  MODAL*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap');

*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body{
    font-family: 'Urbanist', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.hero{
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #fff;
    display: grid;
    grid-template-rows:max-content 1fr;
    grid-template-areas: 
    "nav"
    "content";
    min-height: 100vh;
}

.nav{
    grid-area: nav;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    height: 90px;
}

.nav__list{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}

.nav__link{
    color:#fff;
    text-decoration: none;
}

.nav__logo{
    font-size: 1.8rem;
    font-weight: 300;
}

.nav__menu{
    display: none;
}

.nav__icon{
    width: 30px;
}

/* Hero main */

.hero__main{
    grid-area: content;
    display: grid;
    gap: 2em;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    padding-bottom: 180px; 
    align-items: center;
}

.hero__waves{
    grid-area: content;
    align-self: end;
}

.hero__title{
    font-size: 2.6rem;
    letter-spacing: 2px;
}

.hero__subtitle{
    margin-top:1rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.hero__cta{
    text-decoration: none;
    color: #fff;
    padding: 15px 60px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    transition: background-color .3s;
}

.hero__cta:hover{
    background-color: #fff;
    color: #1e3c72;
}

.hero__img{
    width: 100%;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex !important;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s .1s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .2s;
    --transform: translateY(0);
    --transition: transform .2s .2s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 1200px;
    max-height: 90%;
    background-color: #101010;
    padding: 2em 2.5em 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal__title{
    font-size: 2.5rem;
}

.modal__paragraph{
    margin-bottom: 10px;
}

.modal__img{
    width: 90%;
    max-width: 300px;
}

.modal__close{
    text-decoration: none;
    color: #bebebe;
    background-color: #153d3d;
    padding: 8px 16px;
    border: 1px solid #2c2c2c;
    border-radius: 6px;
    display: inline-block;
    font-weight: 100;
    transition: background-color 400ms;
    font-size: 12px;
}

.modal__close:hover{
    color: #d3d3d3;
    background-color: #126164;
    border: 1px solid #213d41;
}
.textM h4{
    padding-top: 12px;
}
.textM p{
    font-size: 15px;
}


@media (max-width:800px) {
    .nav__list{
        display: none;
    }

    .nav__menu{
        display: block;
    }

    .hero__main{
        grid-template-columns: 1fr;
        grid-template-rows:max-content max-content ;
        text-align: center;
    }

    .hero__picture{
        grid-row: 1/2;
    }

    .hero__img{
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }

    .modal__container{
        padding: 2em 1.5em;
    }

    .modal__title{
        font-size: 2rem;
    }
}



.carrusel-body {
	box-sizing: border-box;
	background: #1D1D1F;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	/* min-height: 100vh; */
	display: flex;
	align-items: center;
}

.contenedor-carrusel {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 1 !important;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100% !important;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}
.img-slide{
    opacity: 0.9;
    height: 78vh;
    width: 80vw;
    max-width: 900px;
    object-fit: contain;
}
.carousel {
    width: 80vw;
    max-width: 900px;
}
.carousel-indicators [data-bs-target] {
    border-top: initial !important;
    border-bottom: initial !important;
    width: 14px !important;
    height: 14px !important;
    border-radius: 100%;
    background-color: #153d3d!important;

}
.img-card{
    width: 400px;
}
.cont-img2{

}
.text-project p {
    font-size: 15px;
}

.cont-proyecto {
    margin: 4rem 0;
    background-color: #eeeeee;
    padding: 16px 0;
    border-radius: 9px;
    outline: 2px solid #f9f9f9;
    outline-offset: 2px;
    transition: 400ms;
}
.cont-proyecto:hover {
    transition: 400ms;
    background-color: #f8f8f8;
    outline: 1px solid #e0e0e0;
    outline-offset: 3px;
    cursor: pointer;
}
.portafolio{
    position: sticky;
    top: 0px;
    background-color: #00bfac00;
    height: 1px;
    margin-bottom: 80px;

}
.effect{
    transition:  3000ms;
    position: fixed;
    left: 0;
    border-radius: 0px 0px 100px 100px;
    display: flex;
    justify-content: center;
}

.nave-cont{
    position: fixed;
   /*  transform: rotate(178deg); */
    width: 10rem;
    right: 5rem;
    top: -15rem;
    z-index: -1; 
    transition: 2000ms;
}

.nave-cont-down{
    transition: 2000ms;
    top: 40% !important;
}
.nave-cont-visible{
    transition: 2000ms;
    top: 20% !important;
}
.nave-up{ 
    /* margin-top: 10vh; */
    transition: 100ms;
    transform: rotate(-1deg);
}
.nave-down{
    transition: 100ms;
    margin-top: 50;
    transform: rotate(178deg);
}

#nave{
    width: 10rem;
}

.cont-fondo{
    width: calc(65% );
    position: absolute;
    z-index: -3;
    display: flex;
    justify-content: center;
}
.fondo-inicio{
    z-index: -2;
    opacity: 0.1;
    height: auto;
    width: inherit;
}



.texto-rigth{
    text-align: right;
}

.bar-movil{
    
}




@media screen and (max-width: 1100px) {
    .text-project{
        margin-top: 12px;
        text-align: left;
    }
    .cont-proyecto{
        display: flex;
        flex-wrap: wrap;
        padding: 1.5rem 0;
    }
    #nave{
        width: 6rem;
    }
    .nave-cont{
        width: 6rem;
        right: 0%;
        z-index: 2 !important;
    }
    
    .nave-cont-down{
        top: 10% !important;
    }
    .nave-cont-visible{
        top: 10% !important;
    }


	.col1 {transition: 4000ms;
        margin: 0;
        width: calc(100% );
        /* margin-top: 7.1vh !important; */
    }
    .col2 {
        width: calc(100% );
    }
    .cont-fondo{
        width: 100%;
    }

    .acercade{
        font-size: 14px;
        line-height: 26px;
        margin-top: 4rem;
    }
    .img-card {
    width: 100%;
    }
    ul{
        font-size: 14px;
    }
    li{
        margin-bottom: 6px;
    }
    p{
        font-size: 14px;
    }
    .cont-head{
        height: auto;
    }
    .skills {
        padding: 4rem 5% 0  5%;
    }
    .pad4 {
        padding: 4rem 6% 0  6%;
    }
    .pad {
        padding: 1rem 5%;
    }
    .pestanas{
        padding: 0 3% ;
        border-radius: 0px 0px 20px 20px;
        position: fixed;
    }
    .textM p {
        font-size: 14px;
    }
    .tarjetasM {
        height: auto;
        margin: 8px 0;
    }
    .pestanas ul li {
        font-size: 13px;
        margin: 0px 4px;
       
    }
    .cont-portf {
        padding: 4rem 6% 40px 6%;
    }
    body{
        padding: 0;
    }

}

@media screen and (max-width: 500px) {
    .bar-movil{
        border-radius: 100px !important;
        top: 10px !important;
    }
    .img-slide {
        height: 60vh;
    }

}

@media screen and (orientation: landscape) and (max-height: 500px) {

    .img-slide {
        height: 62vh !important;
    }
    .pestanas ul{
        height: 13vh;
    }
}

